/* -------------------------------- */
/* ----- Global modifications ----- */
/* -------------------------------- */

* {
    font-family: sans-serif
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #07242B !important;
}

body {
    background: none;
}

/* ---------------------------------------- */
/* ----- Webpage Layout modifications ----- */
/* ---------------------------------------- */

/* Navigation Bar section */
.navbar {
    border-bottom: 1px solid black;
}

/* Body section */
.container-fluid {
    border: none;
    width: 100%;
    max-width: 1000px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
}

.col {
    border: none;
    color: black;
}

.row {

}

/* Footer section */
.footer .container .row {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    box-shadow: 0 50vh 0 50vh #343a40;
}

.copyright-text {
    margin-bottom: 0;
}

/* Footer social media section */
.social-media button {
    margin-left: 5px;
    margin-right: 5px;
}

.btn.btn-rounded {
    border-radius: 50px;
}

.btn.btn-github {
    color: #6f42c1;
    background-color: #ffffff;
    border-color: none;
}
.btn.btn-github:hover, .btn.btn-github:focus, .btn.btn-github:active {
    color: #ffffff;
    background-color: #6f42c1;
    border-color: none;
}

.btn.btn-linkedin {
    color: #2F69A3;
    background-color: #ffffff;
    border-color: none;
}
.btn.btn-linkedin:hover, .btn.btn-linkedin:focus, .btn.btn-linkedin:active {
    color: #ffffff;
    background-color: #2F69A3;
    border-color: none;
}

.btn.btn-facebook {
    color: #577FFF;
    background-color: #ffffff;
    border-color: none;
}
.btn.btn-facebook:hover, .btn.btn-facebook:focus, .btn.btn-facebook:active {
    color: #ffffff;
    background-color: #577FFF;
    border-color:none;
}

.btn.btn-email {
    color: #E80B02;
    background-color: #ffffff;
    border-color: none;
}
.btn.btn-email:hover, .btn.btn-email:focus, .btn.btn-email:active {
    color: #ffffff;
    background-color: #E80B02;
    border-color: none;
}

/* ------------------------------------ */
/* ----- Index.html modifications ----- */
/* ------------------------------------ */

.header-card  {
    border: none;
    border-radius: 10px;
    padding: 20px;
}

.card-set .row {
    padding-top: 20px;
}